<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Swiper CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAHO</title>
    <link rel="stylesheet" href="/CSS/AnimeMain.css">
    <link rel="stylesheet" href="/CSS/info.css">
	<link rel="stylesheet" href="/CSS/footer.css">
    
<!-- 기본 favicon -->
<link rel="icon" href="IMG/favicon/favicon.ico" type="image/x-icon">

<!-- 확장 favicon -->
<link rel="shortcut icon" href="IMG/favicon/favicon.ico" type="image/x-icon">

<!-- PNG favicon -->
<link rel="icon" href="IMG/favicon/android-chrome-512x512.png" type="image/png">
 
<!-- 아이콘 -->
<script src="https://kit.fontawesome.com/071aa8f784.js" crossorigin="anonymous"></script>
<!-- 투표 차트 라이브러리 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <div th:replace="~{fragments/nav :: navbar}"></div>

    <br><br>
    
    <div class="title" style="background-color: black;">
        <img src="" alt="">
	</div>
	
	<hr class="custom-hr"><br>

	<!-- carousel 시작 -->
	<div class="carousel_main">
		<div class="carousel_wrapper">
			<div class="carousel_slide">
				<img src="IMG/TEST/test01.webp" />
			</div>
			<div class="carousel_slide">
				<img src="IMG/TEST/test02.webp" />
			</div>
			<div class="carousel_slide">
				<img src="IMG/TEST/test03.webp" />
			</div>
			<div class="carousel_slide">
				<img src="IMG/TEST/test04.webp" />
			</div>
			<div class="carousel_slide">
				<img src="IMG/TEST/test05.webp" />
			</div>
			<div class="carousel_slide">
				<img src="IMG/TEST/test06.webp" />
			</div>
			<div class="carousel_slide">
				<img src="IMG/TEST/test07.webp" />
			</div>
			<div class="carousel_slide">
				<img src="IMG/TEST/test08.webp" />
			</div>
		</div>
		
		<div class="carousel_button_container">
			<button type="button" class="carousel_prev">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
					fill="currentColor" class="bi bi-chevron-double-left"
					viewBox="0 0 16 16">
                <path fill-rule="evenodd"
						d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                <path fill-rule="evenodd"
						d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
			</button>
			<button type="button" class="carousel_next">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
					fill="currentColor" class="bi bi-chevron-double-right"
					viewBox="0 0 16 16">
                <path fill-rule="evenodd"
						d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd"
						d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
			</button>
		</div>
		<div class="carousel_pagination">
			<div class="carousel_circle"></div>
			<div class="carousel_circle"></div>
			<div class="carousel_circle"></div>
			<div class="carousel_circle"></div>
			<div class="carousel_circle"></div>
			<div class="carousel_circle"></div>
			<div class="carousel_circle"></div>
			<div class="carousel_circle"></div>
		</div>
	</div>
	<!-- carousel 끝 -->

	<hr class="custom-hr"><br>
	
	<h2 style="color:#ffffff;"> &nbsp; - 오늘의 애니</h2>
	<div class="swiper-container">
		<div class="swiper-wrapper" >
			<div class="swiper-slide" 
				th:each="anime : ${animeList}"
				th:data-anime-id="${anime.animeId}"
     			onclick="openModalDetail(this)">
     			
				<!-- camelCase로 THUMBNAIL_GARO_URL을 아래와 같이 설정해놨음 -->
				<img th:src="${anime.thumnailGaroUrl}" alt="이미지1">
				<div class="slide-title" th:text = "${anime.title}"></div>
			</div>
		</div>
		<!-- 좌우 화살표 -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>

	<hr class="custom-hr"><br>
	
	<!-- 유튜브 -->
	<h2 style="color:#ffffff;"> &nbsp; - YouTube</h2>
	<div class="swiper-container-youtube">
	    <div class="swiper-wrapper">
	        <!-- 영상 1 -->
	        <div class="swiper-slide">
	            <div class="youtube-thumbnail" data-video-id="9FCX_7tCcrk">
	                <img src="https://img.youtube.com/vi/9FCX_7tCcrk/0.jpg" alt="YouTube 썸네일">
	                <div class="play-button">▶</div>
	            </div>
	        </div>
	
	        <!-- 영상 2 -->
	        <div class="swiper-slide">
	            <div class="youtube-thumbnail" data-video-id="GjfSwJlq4rk">
	                <img src="https://img.youtube.com/vi/GjfSwJlq4rk/0.jpg" alt="YouTube 썸네일">
	                <div class="play-button">▶</div>
	            </div>
	        </div>
	
	        <!-- 영상 3 -->
	        <div class="swiper-slide">
	            <div class="youtube-thumbnail" data-video-id="BGlQakaaJDs">
	                <img src="https://img.youtube.com/vi/BGlQakaaJDs/0.jpg" alt="YouTube 썸네일">
	                <div class="play-button">▶</div>
	            </div>
	        </div>
	
	        <!-- 영상 4 -->
	        <div class="swiper-slide">
	            <div class="youtube-thumbnail" data-video-id="w1J9aH9DhrY">
	                <img src="https://img.youtube.com/vi/w1J9aH9DhrY/0.jpg" alt="YouTube 썸네일">
	                <div class="play-button">▶</div>
	            </div>
	        </div>
	
	        <!-- 영상 5 -->
	        <div class="swiper-slide">
	            <div class="youtube-thumbnail" data-video-id="ptc0YXw9ZOo">
	                <img src="https://img.youtube.com/vi/ptc0YXw9ZOo/0.jpg" alt="YouTube 썸네일">
	                <div class="play-button">▶</div>
	            </div>
	        </div>
	
	        <!-- 영상 6 -->
	        <div class="swiper-slide">
	            <div class="youtube-thumbnail" data-video-id="VYFsjzOmJhk">
	                <img src="https://img.youtube.com/vi/VYFsjzOmJhk/0.jpg" alt="YouTube 썸네일">
	                <div class="play-button">▶</div>
	            </div>
	        </div>
	
	    </div>
	
	    <!-- 좌우 화살표 -->
	    <div class="swiper-button-prev"></div>
	    <div class="swiper-button-next"></div>
	</div>

	
	<hr class="custom-hr"><br>

	<!-- 메인 하단 -->
	<div class="main-bottom-wrapper">
	    <!-- 왼쪽 : 인기 랭킹 -->
	    <div class="ranking-section">
	        <h2 style = "color: #fff;">🔥 인기 애니 랭킹 Top 10</h2>
	        <div class="swiper-container-ranking">
	            <div class="swiper-wrapper">
	                <div class="swiper-slide" th:each="anime, iterStat : ${animeListTop10}">
	                    <div class="rank-card"
     						th:classappend="${iterStat.count == 1 ? 'rank-1' : (iterStat.count == 2 ? 'rank-2' : (iterStat.count == 3 ? 'rank-3' : 'rank-others'))}"
     						th:data-anime-id="${anime.animeId}"
     						onclick="openModalDetail(this)">
							<div class="rank-number" th:text="${iterStat.count}"></div>
	                        <img th:src="${anime.thumnailSeroUrl}" alt="썸네일" class="rank-thumbnail">
	                        <div class="rank-info">
	                            <div class="rank-title" th:text="${anime.title}">애니 제목</div>
	                            <div class="rank-score" th:text="${anime.score} + '점'">9.5점</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	
	    <!-- 오른쪽 -->
	    <div class="vote-section">
		    
		</div>
	</div>
	
	<hr class="custom-hr"><br>
	
	<!-- 모달 -->
	<div id="animeModal" class="modal">
		<div class="modal_content">
			<span class="close" onclick="modal_close()">&times;</span>
			<div class="modal_div">

				<div class="modal_img">
					<img id="modal_img" src="" alt="이미지">
				</div>
				
				<!-- 애니 상세 정보 -->
				<div class="anime-info-container">
					<div class="ani-content">
						<section class="ani-section">
							<div class="ani-row">
								<h2>애니제목</h2>
								<p id="anime_title"></p>
							</div>
							
							<div class="ani-row">
								<h2>방영일</h2>
								<p id="start_date"></p>
							</div>
							
							<div class="ani-row">
								<h2>방영차수</h2>
								<p id="total_episode"></p>
							</div>
							
							<div class="ani-row">
								<h2>제작사</h2>
								<p id="studio">제작사1</p>
							</div>
							
							<div class="ani-row">
								<h2>상영등급</h2>
								<p id="age_rating"></p>
							</div>
							
							<div class="ani-summary">
								<h2>애니 줄거리</h2>
								<p id="anime_desc">줄거리 내용</p>
								<span id="summaryButton" class="toggle-btn">더보기</span>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	    <!-- 오디오 재생 태그 -->
    <audio id="audioPlayer" hidden autoplay muted></audio>

    <script th:inline="javascript">
       
		let playAudio = /*[[${playAudio}]]*/ false;
		console.log("playAudio 플래그 값:", playAudio); 

        if (playAudio) {
            const mp3Files = [
                "[[@{/ljj/audio/yahojhr.mp3}]]",
                "[[@{/ljj/audio/yahoasy.mp3}]]",
                "[[@{/ljj/audio/yahokrw.mp3}]]",
                "[[@{/ljj/audio/yahosgm.mp3}]]",
                "[[@{/ljj/audio/yaholjj.mp3}]]"
            ];

            function getRandomMP3() {
                const randomIndex = Math.floor(Math.random() * mp3Files.length);
                return mp3Files[randomIndex];
            }

            window.addEventListener("load", function () {
                const audioElement = document.getElementById("audioPlayer");
                console.log("audioElement 존재 여부:", audioElement);
                if (audioElement) {
                    audioElement.src = getRandomMP3();
                    audioElement.muted = false;
                    audioElement.play().then(() => {
                        console.log("🎵 재생 성공");
                    }).catch(error => {
                        console.log("❌ 재생 실패:", error);
                    });
                }
            });
        }
    </script>
	
	<footer class="footer-wrapper">
		<div class="footer-content">
			<div class="col left">
				<ul class="footer-nav">
					<li><a href="/Info/teamInfo">사이트소개</a></li>
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보 취급방침</a></li>
					<li><a href="#">이용안내</a></li>
				</ul>
				<hr>
				<div class="footer-info">
					<p>상호: NJM (대표 : 조혜림)</p>
					<p>주소: 대전광역시 중구 계룡로 825 JSL인재개발원</p>
					<p>전화: 010-1111-2222</p>
					<p>사업자등록전화: 000-00-00000</p>
				</div>
			</div>
			<div class="col center">
				<h2>고객센터</h2>
				<h3>032-0000-0000</h3>
				<p>월-금 10:00-18:00</p>
				<ul class="socials">
					<li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
					<li><a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a></li>
					<li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
				</ul>
			</div>
			<div class="col right">
				<h2>커뮤니티</h2>
				<p><a href="#">공지사항</a></p>
				<p><a href="#">게시판</a></p>
				<p><a href="#">NEW</a></p>
			</div>	
		</div>
		<div class="copyright">
			<p>Copyright &copy; YAHO. All rights reserved.
		</div>
	</footer>

	<!-- Swiper JS -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>  
</body>
<script>
	function openModalDetail(el) {
		const animeId = el.getAttribute("data-anime-id");
		const userId = "aa1111"; // 로그인 중인 유저 ID, 현재 아직 기능이 없으므로 임시로 aa1111로 설정
		
		// 기본 정보 로딩
		fetch(`Main/anime/baseInfo?animeId=${animeId}`)
		    .then(res => res.json())
		    .then(data => {
	            console.log("기본 정보:", data);
		        const titleEl = document.getElementById("anime_title");
		        const animeGaroImgEl = document.getElementById("modal_img");
		
		        if (titleEl) titleEl.innerText = data.title || "제목 없음";
		        if (animeGaroImgEl) animeGaroImgEl.setAttribute("src", data.thumnailGaroUrl || "IMG/default.png");
		    });
		
		// 상세 정보 로딩
		fetch(`Main/anime/detailInfo?animeId=${animeId}`)
		    .then(res => res.json())
		    .then(data => {
		        const startDateEl = document.getElementById("start_date");
		        const totalEpEl = document.getElementById("total_episode");
		        const studioEl = document.getElementById("studio");
		        const studioLinkEl = document.getElementById("studio_link");
		        const ratingEl = document.getElementById("age_rating");
		        const descEl = document.getElementById("anime_desc");
		
		        if (startDateEl) startDateEl.innerText = data.startDate.substring(0, 10) || "정보가 없습니다.";
		        if (totalEpEl) totalEpEl.innerText = data.totalEpisode || "정보가 없습니다.";
		        
		        if (studioEl) {
		        //	studioLinkEl.setAttribute("href", data.studioLink);
		        //	studioLinkEl.setAttribute("target", "_blank"); // 새 창 열기
		        	studioEl.innerText = data.studio || "제작사 정보 없음";
		        }
		        
		        if (ratingEl) ratingEl.innerText = data.ageRating || "미정";
		        if (descEl) descEl.innerHTML = (data.animeDesc || "설명이 없습니다.").replace(/\n/g, "<br>");
		    });


		// 모달 열기
		document.getElementById("animeModal").style.display = "block";
	}

    
    document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper(".swiper-container", {
            slidesPerView: 4, // 한 번에 보이는 슬라이드 개수
            spaceBetween: 20, // 이미지 간격
            loop: false, // 무한 루프 여부
            grabCursor: true, // 마우스 커서를 손모양으로 변경
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                1024: { slidesPerView: 4 },
                768: { slidesPerView: 3 },
                480: { slidesPerView: 2 },
            },
        });

    	// 이미지 클릭 시 특정 페이지로 이동
    	document.querySelectorAll(".swiper-slide").forEach((slide, index) => {
			slide.addEventListener("click", () => {
				//window.location.href = `https:example.com/page${index + 1}`;
			});
		});
    });
    
    document.addEventListener("DOMContentLoaded", function () {
        const maxLength = 15; // 최대 글자 수 (원하는 값으로 변경)

        document.querySelectorAll(".slide-title").forEach(titleElement => {
            let fullTitle = titleElement.textContent.trim(); // 원래 제목 가져오기
            
            if (fullTitle.length > maxLength) {
                titleElement.setAttribute("data-title", fullTitle); // data-title에 원제목 저장
                titleElement.textContent = fullTitle.substring(0, maxLength) + "..."; // 축약 후 표시
            }
        });
    });
  
 	// 모달 닫기 함수
    function modal_close() {
	    // 모달 내부 스크롤 먼저 초기화
	    const modalContent = document.querySelector('.modal_content');
	    if (modalContent) {
	        modalContent.scrollTop = 0;
	    }
	
	    // 모달 숨기기
	    document.getElementById("animeModal").style.display = "none";
	
	    // 줄거리 더보기 초기화
	    const summaryText = document.querySelector('.ani-summary p');
	    const summaryButton = document.getElementById('summaryButton');
	    if (summaryText.classList.contains('expanded')) {
	        summaryText.classList.remove('expanded');
	        summaryButton.textContent = '더보기';
	    }
	}




    // 모달 바깥 영역 클릭 시 닫기 기능 추가
    window.onclick = function(event) {
        let modal = document.getElementById("animeModal");
        if (event.target === modal) {  // 모달 바깥 클릭 시
            modal_close();  // 모달 닫기 실행
        }
    };

    // nav 스크롤 시 반투명화
    window.addEventListener("scroll", function () {
        let nav = document.querySelector(".nav");
        let scrollY = window.scrollY;

        // 투명도 범위 계산 (0.9 ~ 0.3 사이)
        let baseOpacity = Math.max(0.9, 0.9 - scrollY / 300);

        // 위쪽은 진하고, 아래쪽은 투명해지는 그라데이션 생성
        nav.style.background = `linear-gradient(to bottom, rgba(20, 20, 20, ${baseOpacity}) 0%, rgba(20, 20, 20, 0) 100%)`;
    });


    // 유튜브 캐러셀 자동 이동
    const swiper = new Swiper('.swiper-container-youtube', {
	    loop: true,
	    autoplay: {
	        delay: 3000,
	        disableOnInteraction: false, // 사용자가 넘겨도 autoplay 유지
	        pauseOnMouseEnter: true,     // 마우스 올리면 멈추기
	    },
	    navigation: {
	        nextEl: '.swiper-button-next',
	        prevEl: '.swiper-button-prev',
	    },
	    slidesPerView: 4,
	    spaceBetween: 10,
	    speed: 1000,
	    slidesPerGroup: 1,
	});

</script>

<!-- 캐러셀 -->
<script>
const CSswiper = document.querySelector('.carousel_wrapper');
const prevButtons = document.querySelectorAll('.carousel_prev');
const nextButtons = document.querySelectorAll('.carousel_next');
const bullets = document.querySelectorAll('.carousel_circle');
const totalSlides = 7;
let currentSlide = 0;

function showSlide(slideIndex) {
	CSswiper.style.transform = `translateX(-${slideIndex * 1300}px)`;
    currentSlide = slideIndex;

    bullets.forEach((bullet, index) => {
        if (index === currentSlide) {
            bullet.classList.add('active');
        } else {
            bullet.classList.remove('active');
        }
    });
}

prevButtons.forEach((prevButton) => {
    prevButton.addEventListener('click', () => {
    	if (currentSlide === 0) {
            showSlide(totalSlides); // 첫 번째 슬라이드에서 왼쪽 누르면 마지막으로 이동
        } else {
            showSlide(currentSlide - 1);
        }
    });
});

nextButtons.forEach((nextButton) => {
    nextButton.addEventListener('click', () => {
    	if (currentSlide === totalSlides) {
            showSlide(0); // 마지막 슬라이드에서 오른쪽 누르면 처음으로 이동
        } else {
            showSlide(currentSlide + 1);
        }
    });
});

bullets.forEach((bullet, index) => {
    bullet.addEventListener('click', () => {
        showSlide(index);
    });
});

showSlide(0);
</script>

<script>
//모달 내부 줄거리 확장 버튼
  const summaryText = document.querySelector('.ani-summary p');
  const summaryButton = document.getElementById('summaryButton');

  summaryButton.addEventListener('click', () => {
    summaryText.classList.toggle('expanded');
    if (summaryText.classList.contains('expanded')) {
      summaryButton.textContent = '접기';
    } else {
      summaryButton.textContent = '더보기';
    }
  });
</script>

<!-- 유튜브 -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.youtube-thumbnail').forEach(thumbnail => {
        thumbnail.addEventListener('click', function() {
            const videoId = this.dataset.videoId;
            this.innerHTML = `<iframe width="400" height="315"
                                src="https://www.youtube.com/embed/${videoId}?autoplay=1"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>`;
        });
    });

    // 유튜브 캐러셀 Swiper 활성화
    const swiper = new Swiper('.swiper-container-youtube', {
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView: 4,
        spaceBetween: 10,
        speed: 1000,
        loopedSlides: 4,
        slidesPerGroup: 1,
    });
});
</script>

<!-- 애니 랭킹 캐러셀 -->
<script>
const swiperRanking = new Swiper('.swiper-container-ranking', {
    direction: 'vertical',
    slidesPerView: 5,
    spaceBetween: 10,
    loop: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
});



</script>

<script src="/js/navbar.js"></script>
</html>