<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>애니메이션 등록</title>
    <link rel="stylesheet" href="/CSS/AnimeMain.css">
    
<!-- 기본 favicon -->
<link rel="icon" href="IMG/favicon/favicon.ico" type="image/x-icon">

<!-- 확장 favicon -->
<link rel="shortcut icon" href="IMG/favicon/favicon.ico" type="image/x-icon">

<!-- PNG favicon -->
<link rel="icon" href="IMG/favicon/android-chrome-512x512.png" type="image/png">
 
</head>
<body>
	<div class="admin_container">
	<div th:replace="~{fragments/nav :: navbar}"></div>
    
    <br><br>
    
    <h2>애니메이션 등록</h2>
    <form action="/Admin/insert" method="post" enctype="multipart/form-data">
    	<label for="TITLE">제목</label><br>
        <input type="text" id="TITLE" name="TITLE" required><br><br>

        <label for="THUMNAIL_GARO_URL">가로 이미지 URL</label><br>
        <input type="file" id="THUMNAIL_GARO_URL" name="THUMNAIL_GARO_URL"><br><br>

        <label for="THUMNAIL_SERO_URL">세로 이미지 URL</label><br>
        <input type="file" id="THUMNAIL_SERO_URL" name="THUMNAIL_SERO_URL"><br><br>

        <label>요일 (중복 선택 가능)</label><br>
        <input type="checkbox" name="WEEKDAY" value="월요일"> 월요일
        <input type="checkbox" name="WEEKDAY" value="화요일"> 화요일
        <input type="checkbox" name="WEEKDAY" value="수요일"> 수요일
        <input type="checkbox" name="WEEKDAY" value="목요일"> 목요일
        <input type="checkbox" name="WEEKDAY" value="금요일"> 금요일
        <input type="checkbox" name="WEEKDAY" value="토요일"> 토요일
        <input type="checkbox" name="WEEKDAY" value="일요일"> 일요일
        <br><br>

        <label for="SCORE">별점 (0.0 ~ 5.0)</label><br>
        <input type="number" id="SCORE" name="SCORE" step="0.5" min="0" max="5" value="0" onkeydown="return false;" onfocus="this.blur();"><br><br>
        

        <label for="TAGS">태그 (장르)</label><br>
        <input type="text" id="TAGS" name="TAGS" placeholder="예: 판타지,액션"><br><br>

        <button type="submit">등록</button>
    </form>
    
    <button onclick="syncScore()">애니 평점 새로고침</button>
    </div>
</body>
<script>
function syncScore() {
    fetch("/Admin/syncScore", { method: "POST" })
        .then(res => res.text())
        .then(msg => alert(msg))
        .catch(err => alert("오류 발생: " + err));
}
</script>
<script src="/js/navbar.js"></script>
</html>
